body {
    background-image: linear-gradient(to right top, #000000, #0d0d0d, #161616, #1d1d1d, #252525);
    height: 1080px;
    width: auto;
}

.lib-table {
    height: auto;
    width: auto;
    padding-left: 110px;
    padding-top: 200px;
}

table,
tr,
th.heading {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
    background-color: grey;
    width: 1700px;
}

table {
    overflow-x: scroll;
}