<!DOCTYPE html>{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static '../../../static/css/index.css' %}" />
    <title>Document</title>
</head>

<body>
    <div class="main">
        <div class="lib-table">
            <table class="book-info">
                <tr class="heading">
                    <th>S.N</th>
                    <th>Book Name</th>
                    <th>Authors Name</th>
                    <th>Book Type</th>
                    <th>Book Serial Number</th>
                    <th>Price of Book</th>
                </tr>
                <tr class="data"></tr>
            </table>
        </div>
    </div>
</body>

</html>